/* HEADER STYLES */
/* header {
    background-color: darkolivegreen;
    color: seashell;
    padding: 20px;
} */

.nav-link {
    color: rgb(105, 103, 103);
    text-decoration: none;
    margin:0;
    padding:.5em;
}

.nav-div {
    color: rgb(105, 103, 103);
}

.active {
    /* color: crimson; */
    font-weight: bolder;
}

.nav-search {
    border-radius: 5rem;
    padding-left: 15px;
}
/* END HEADER STYLES */

/* FORM STYLES */
.input-area {
    margin: 5px;
    padding: 2%;
    background: rgb(198, 197, 197);
    border-radius: 5px;
    min-width: 320px;
}

.input-area label {
    min-width: 120px;
}

.form-control {
    min-width: 150px;
}

.ProductForm {
    width:60%;
    margin: auto;
    padding: 10px;
}


/* END FORM STYLES */


/* CARD STYLES */
.container {
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    margin: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    background-color: rgb(34, 117, 211)
}


/* PRODUCT DETAILS */
.details {
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* MEDIA QUERIES */
@media only screen and (min-width: 1150px) {
    .lg-1 {
        width: 100%;
    }
    .sm-0 {
        display: none;
    }
    
}

@media only screen and (max-width: 800px){
    .nav-search {
        display: none;
    }
    section{
        display: block;
    }
    .col-3 {
        display: block;
    }
    .cards {
        display: block;
        /* width: 50%; */
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .cards {
        display: block;
    }
    .lg-3 {
        width: 75%;
    }
    .newProductForm {
        width: 75%;
        margin-left: 2rem;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* END MEDIA QUERIES */